<h1>Add Task</h1>
<div>@ViewBag.Message</div>
<table id="plannedTasks">
    @{
        string week = "";
        int estimateSum = 0;
        int timeSpentSum = 0;
        int actualEstimationSum = 0;
        double percentageDone = 0;
    }
    @foreach (var item in ViewData["plannedTasks"] as List<plannedTasksDetail>)
    {
        if (@item.weekPlanned.ToString("MM/dd/yyyy") != week)
        {
            if (week != "")
            {
                <tr>
                    <td></td>
                    <td>@estimateSum.ToString() min.</td>
                    <td>@timeSpentSum.ToString() min.</td>
                </tr>
                estimateSum = 0;
                timeSpentSum = 0;
                actualEstimationSum = 0;
            }
            week = @item.weekPlanned.ToString("MM/dd/yyyy");
            <thead>
                <tr>
                    <th colspan="3" style="background-color:#CCCCCC;"><h4>@item.weekPlanned.ToString("d. MMMM yyyy")</h4></th>
                </tr>
                <tr>
                    <th>Task</th>
                    <th>Estimation</th>
                    <th>Time Spent</th>
                </tr>
            </thead>
        }
        <tr>
            <td><input type="checkbox" id="@item.planid" checked="@item.completed" onchange="javascript:setCompleted(@item.planid, @item.completed.ToString().ToLower());" /> <a href="?planid=@item.planid"><strong>@item.projectname:</strong> @item.taskname (@item.catname)</a></td>
            <td>@item.estimation.ToString() min.</td>
            <td>@item.timeSpent.ToString() min.</td>
        </tr>

        estimateSum += item.estimation;
        timeSpentSum += item.timeSpent;
        if (item.completed == true)
        {
            actualEstimationSum += item.timeSpent;
        }
        else
        {
            actualEstimationSum += item.estimation;
        }
    }
    @{ 
        if (timeSpentSum > 0)
        {
            percentageDone = ((double)timeSpentSum / actualEstimationSum);
        }
    }
    <tr>
        <td>Total:</td>
        <td>@estimateSum.ToString() min.</td>
        <td>@timeSpentSum.ToString() min.</td>
    </tr>
    <tr>
        <td>Actual Estimation:</td>
        <td colspan="2" align="center">@actualEstimationSum.ToString() min. (@String.Format("{0:P1}", percentageDone) done) </td>
    </tr>
   </table>
    <form method="post">
        <div class="addTaskGrid">
            <div class="box a1">Project</div>
            <div class="box a2">Category</div>
            <div class="box a3">Task</div>
            <div class="box a4">Time estimation</div>
            <div class="box a5">Week</div>
            <div class="box a6"></div>
            <div class="box b1">
                @Html.DropDownList("ProjectList", null, new { @onchange = "javascript:GetCategory(this.value);" })
            </div>
            <div class="box b2">
                <select id="CategoryList" name="CategoryList" onchange="javascript:GetTask(this.value);"></select>
            </div>
            <div class="box b3">
                <select id="TaskList" name="TaskList"></select>
            </div>
            <div class="box b4">
                @Html.TextBox("TimeEstimation", null, new { @type = "number", style = "width: 100px;" })
            </div>
            <div class="box b5">
                @Html.DropDownList("WeekList")
            </div>
            <div class="box b6"><input type="submit" value="Add" /></div>
            <div class="box c1">
                @Html.TextBox("ProjectName")
                <nobr><a href="#" onclick="AddItemType('Project'); return false;">Add Project</a></nobr>
            </div>
            <div class="box c2">
                @Html.TextBox("CategoryName")
                <nobr><a href="#" onclick="AddItemType('Category'); return false;">Add Category</a></nobr>
            </div>
            <div class="box c3">
                @Html.TextBox("TaskName")
                <nobr><a href="#" onclick="AddItemType('Task'); return false;">Add Task</a></nobr>
            </div>
            <div class="box c4"></div>
            <div class="box c5"></div>
            <div class="box c6"></div>
        </div>
    </form>