@model completedTasksViewModel
<table id="plannedTasks">
<thead>
    <th>Start Time</th>
    <th>Project</th>
    <th>Task</th>
    <th>Duration</th>
</thead>
@foreach (var item in Model.completedTasks)
{
    <tr>
        <td>@item.starttime</td>
        <td>@item.projectname</td>
        <td>@item.categoryname: @item.taskdescription</td>
        <td>@item.duration min.</td>
    </tr>
}
<tr>
    <td colspan="3">Total Time:</td>
    <td>
        @Model.completedTasks.Sum(i => i.duration) min.
        <br>
        @{
            double hours = (double) @Model.completedTasks.Sum(i => i.duration) / 60;
        }
        @String.Format("{0:0.0}", hours) hours
    </td>
</tr>
</table>